syntax: glob
#-- Files
*.bak.*
*.bak
thumbs.db
*.sln.DotSettings

#-- Directories
App_Data/*
bin/
obj/
_ReSharper.*/
tmp/
TestResult/*

#-- Microsoft Visual Studio specific
*.user
*.suo

#-- MonoDevelop specific
*.pidb
*.userprefs
*.usertasks
